{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block title %}Sign Up | Kyntra{% endblock %}

{% block content %}
<section class="gradient-custom">
  <div class="container py-5 h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-3 mt-md-2 pb-2">
              <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>

              <p class="mt-5 pt-lg-2">Are you a </p>
              <a class="btn btn-outline-light btn-lg px-5 mt-1" href="{% url 'buyer_signup'%}">
                Buyer
              </a>
              <p class="mt-2 pt-lg-2 text-white-50"> OR </p>
              <a class="btn btn-outline-light btn-lg px-5 mt-1" href="{% url 'seller_signup'%}">
                Seller
              </a>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white">
                  <i class="fab fa-google fa-lg"></i>
                </a>
              </div>
            </div>

            <div>
              <p class="mb-0">
                Have an account?
                <a href="{% url 'login' %}" class="text-white-50 fw-bold">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}