{% extends "admin/admin_base.html" %}

{% block title %}Admin: Sellers{% endblock %}

{% block content %}

<section class="p-5">
	<div class="container">

		<div class="row">

			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<b>Users</b>
					</div>
					<div class="list-group list-group-flush">
						<a href="/kyntra/admin/sellers/"
							class="list-group-item d-flex justify-content-between align-items-start list-group-item-action {% if option  == 'all' %} active {% endif %}">
							All users
							<span
								class="badge rounded-pill {% if option  == 'all' %} bg-light text-dark {% else %} bg-primary {% endif %}">
								{{seller_count}}
							</span>
						</a>
					</div>
				</div>

				<br>

				<div class="card">
					<div class="card-header">
						<b>Applications</b>
					</div>
					<div class="list-group list-group-flush">
						<a href="/kyntra/admin/sellers/pending"
							class="list-group-item d-flex justify-content-between align-items-start list-group-item-action {% if option  == 'pending' %} active {% endif %}">
							Pending
							<span
								class="badge rounded-pill {% if option  == 'pending' %} bg-light text-dark {% else %} bg-primary {% endif %}">
								{{pending_count}}
							</span>
						</a>
						<a href="/kyntra/admin/sellers/approved"
							class="list-group-item d-flex justify-content-between align-items-start list-group-item-action {% if option  == 'approved' %} active {% endif %}">
							Approved
							<span
								class="badge rounded-pill {% if option  == 'approved' %} bg-light text-dark {% else %} bg-primary {% endif %}">
								{{approved_count}}
							</span>
						</a>
						<a href="/kyntra/admin/sellers/unapproved"
							class="list-group-item d-flex justify-content-between align-items-start list-group-item-action {% if option  == 'unapproved' %} active {% endif %}">
							Unapproved
							<span
								class="badge rounded-pill {% if option  == 'unapproved' %} bg-light text-dark {% else %} bg-primary {% endif %}">
								{{unapproved_count}}
							</span>
						</a>
					</div>
				</div>
				
			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">

						<ul class="list-group list-group-flush ">
							{% for seller in sellers %}
								<li class="list-group-item">
									<div class="row">
										<div class="col-md-auto">
											{{seller.id}}
										</div>
										<div class="col">
											<p><b>{{seller.user.username}}</b>
												<br />
												{{seller.company_name}}
											</p>
										</div>
										<div class="col">
											<p>
												{{seller.user.email}}
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View documents</a>
											<!-- TODO: Correct this -->
											<div class="btn-group" role="group" aria-label="Basic example">
												<button type="submit" name="approve" class="btn btn-success" >Approve</button>
												<button type="submit" name="reject" class="btn btn-danger">Reject</button>
											</div>
										</div>
									</div>
								</li>
							{% endfor %}
							


						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>


{% endblock %}

{% comment %}
<!-- <form action="{% url 'admin_sellerapplication' %}" method="post">
	{% csrf_token %}
</form> -->
{% endcomment %}
