{% extends "admin/admin_base.html" %}

{% block title %}Admin: Buyers{% endblock %}

{% block content %}

	<section class="p-5">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<b>Users</b>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between align-items-start active" aria-current="true">
								All users
								<span class="badge bg-light rounded-pill text-dark">4</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								Recently joined
								<span class="badge bg-primary rounded-pill">4</span>
							</li>
						</ul>
					</div>

				</div>

				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">

							<ul class="list-group list-group-flush ">
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>User Name</b>
												<br />
												User Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>User Name</b>
												<br />
												User Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>User Name</b>
												<br />
												User Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>User Name</b>
												<br />
												User Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}
