<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
	<link rel="stylesheet" href="styles.css" />

	<title>Dashboard</title>

</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<div class="container-lg">
			<a href="#" class="navbar-brand">Kyntra [Admin]</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="#navmenu">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a href="{% url 'admin_dashboard' %}" class="nav-link">Dashboard</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admin_buyers' %}" class="nav-link">Buyers</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admin_sellers' %}" class="nav-link active">Sellers</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'admin_products' %}" class="nav-link">Products</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Showcase -->
	<section class="bg-secondary text-light py-5 text-center">
		<div class="container">

			<h1>Sellers</h1>

		</div>
	</section>

	<section class="p-5">
		<div class="container">
			<div class="row text-center g-4">
				<div class="col-md">
					<div class="card">
						<div class="card-header">
							Buyers
						</div>
						<div class="card-body">
							<h1 class="card-title">971593</h1>
							<p class="card-text">Total buying customers</p>
							<a href="#buyers" class="btn btn-primary">View all buyers</a>
						</div>
					</div>
				</div>
				<!-- <div class="col-md">
					<div class="card">
						<div class="card-header">
							Sellers
						</div>
						<div class="card-body">
							<h1 class="card-title">447</h1>
							<p class="card-text">Total registered merchants</p>
							<a href="#sellers" class="btn btn-primary">View all sellers</a>
						</div>

						<div class="card-body">

							<h1 class="card-title">15</h1>
							<p class="card-text">Pending applications</p>
							<a href="#sellers" class="btn btn-primary">View all applications</a>
						</div>
					</div>
				</div>
				<div class="col-md">
					<div class="card">
						<div class="card-header">
							Products
						</div>
						<div class="card-body">
							<h1 class="card-title">9924</h1>
							<p class="card-text">Total product listings</p>
							<a href="#products" class="btn btn-primary">View all products</a>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		</div>
		</div>
	</section>


	<!-- <div class="container"> -->
	<!-- <h1>Kyntra [Admin]</h1>
		<h2>Dashboard</h2> -->
	<!-- </div> -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
</body>

</html>