{% extends "admin/admin_base.html" %}

{% block title %}Admin: Buyers{% endblock %}

{% block content %}

<section class="p-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-header">
						<b>Users</b>
					</div>
					<!-- <ul class="list-group list-group-flush">
						<li class="list-group-item d-flex justify-content-between align-items-start active list-group-item-action"
							aria-current="true">
							All users
							<span class="badge bg-light rounded-pill text-dark">{{buyer_count}}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start list-group-item-action">
							Recently joined
							<span class="badge bg-primary rounded-pill">{{buyer_count}}</span>
						</li>
					</ul> -->
					<div class="list-group list-group-flush">
						<a href="/kyntra/admin/buyers/"
							class="list-group-item d-flex justify-content-between align-items-start list-group-item-action {% if option  == 'all' %} active {% endif %}">
							All users
							<span class="badge rounded-pill {% if option  == 'all' %} bg-light text-dark {% else %} bg-primary {% endif %}">
								{{buyer_count}}
							</span>
						</a>
						<a href="/kyntra/admin/buyers/recent"
							class="list-group-item d-flex justify-content-between align-items-start list-group-item-action {% if option  == 'recent' %} active {% endif %}">
							Recently joined
							<span class="badge rounded-pill {% if option  == 'recent' %} bg-light text-dark {% else %} bg-primary {% endif %}">
								{{buyer_count}}
							</span>
						</a>
					</div>
				</div>

			</div>

			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">

						<ul class="list-group list-group-flush ">
							{% if option == "recent" %}
								{% for user in buyers %}
								{% if forloop.counter < 3 %} <li class="list-group-item">
								<div class="row">
									<div class="col">
										<p><b>{{user.user.username}}</b>
											<br />
											User Id: {{user.user.id}}
										</p>
									</div>
									<div class="col-md-auto">
										<a href="" class="btn btn-outline-primary">View details</a>
										<a href="" class="btn btn-danger">Remove</a>
									</div>
								</div>
								</li>
								{% endif %}
								{% endfor %}
							{% else %}
								{% for user in buyers %}
								<li class="list-group-item">
									<div class="row">
										<div class="col">
											<p><b>{{user.user.username}}</b>
												<br />
												User Id: {{user.user.id}}
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
								{% endfor %}
							{% endif %}


						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}