{% extends "admin/admin_base.html" %}

{% block title %}Admin: Products{% endblock %}

{% block content %}

	<section class="p-5">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-header">
							<b>Products</b>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item active" aria-current="true">	All products</li>
							<li class="list-group-item ">Fashion</li>
							<li class="list-group-item ">Electronics</li>
							<li class="list-group-item ">Home</li>
							<li class="list-group-item ">Appliances</li>
							<li class="list-group-item ">Cosmetics</li>

						</ul>
					</div>

					<br>
					<button type="button" class="btn btn-primary">+ Add products</button>

				</div>

				<div class="col-md-9">
					<div class="row">
						<div class="col-md-12">

							<ul class="list-group list-group-flush ">
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>Product Name</b>
												<br />
												Product Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>Product Name</b>
												<br />
												Product Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>Product Name</b>
												<br />
												Product Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
								<li class="list-group-item">
									<div class="row no-gutters">
										<div class="col">
											<p><b>Product Name</b>
												<br />
												Product Id: 12345678
											</p>
										</div>
										<div class="col-md-auto">
											<a href="" class="btn btn-outline-primary">View details</a>
											<a href="" class="btn btn-danger">Remove</a>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


	{% endblock %}
