{% extends "base_generic.html" %}
{% block navigation %}
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<div class="container-lg">
		<a href="{% url 'admin_dashboard' %}" class="navbar-brand">Kyntra <span class="badge bg-secondary">Admin</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="#navmenu">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a href="{% url 'admin_dashboard' %}" class="nav-link {% if name  == 'admin_dashboard' %} active {% endif %}">Dashboard</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'admin_buyers' %}" class="nav-link {% if  name  == 'admin_buyers' %} active {% endif %}">Buyers</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'admin_sellers' %}" class="nav-link {% if name  == 'admin_sellers' %} active {% endif %}">Sellers</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'admin_products' %}" class="nav-link {% if name  == 'admin_products' %} active {% endif %}">Products</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'admin_logs' %}" class="nav-link {% if name  == 'admin_logs' %} active {% endif %}">Logs</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'logout' %}" class="nav-link text-danger">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

