{% extends "general/general_base.html" %}
{% block general_content %}
 
<h2 class = "m-4">{{title}}  </h2>
<hr/>
<div class = "container-fluid">
<div class = "row">
 {% for item in object_list %}
 <div class="col-lg-3 col-md-4 mb-4">
                <div class="card text-center">
                    <img draggable="false" src="{{item.productimage_set.all.0.image.url }}" class="card-img-top embed-responsive-item " style = "    height: 15rem;
    object-fit: cover;" alt="...">
                    <div class="card-body ">
                        <h5>{{item.name}}
                            <span class="badge bg-danger mx-1">{{item.supertag}}</span>
                        </h5>
                        <p class="card-text">Rs. {{ item.price }}</p>
                        
                        <a href= '{% url 'product' item.id %}' id="edit-product-button" class="btn btn-secondary ">View Product 🔍</a>
                    </div>

                </div>
            </div>
{% empty %}
<h3 style = "text-align:center;">No items available</h3>


{% endfor %}
    </div>
</div>


<hr/>
<div class="pagination d-flex justify-content-center" >
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&{{additional_q_params_for_pagination}}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&{{ additional_q_params_for_pagination }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ additional_q_params_for_pagination }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ additional_q_params_for_pagination }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<br/>
{% endblock %}