{% extends "seller/seller_base.html" %}

{% block content %}


<main>
    <div class="container dark-grey-text">
        


        <!--Grid row-->
        <div class="row wow fadeIn mt-3">
            {% for item in object_list%}
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center">
                    <img draggable="false" style="height:300px; width:auto;object-fit: cover"
                        src="{{item.productimage_set.all.0.image.url }}" class="card-img-top " alt="...">
                    <div class="card-body ">
                        <h5>{{item.name}}
                            {% if item.quantity == 0 %}
                            <span class="badge bg-danger mx-1">SOLD OUT</span>
                            {% endif %}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Price: Rs.{{item.price}}</h6>
                        <p class="card-text">{{item.description}}</p>
                        <a href="{% url 'edit_product' id=item.id %}" class="btn btn-primary">Edit Product</a>
                        <br />

                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
        <!--Grid row-->

    </div>
</main>

{% endblock %}