{% extends "seller/seller_base.html" %}

{% block content %}


<main>
    <div class="container dark-grey-text">
<!-- 
        <div class="input-group my-3">
            <input type="text" class="form-control" placeholder="Search for Item" aria-label="Search for Item"
                aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Search</button>
        </div> -->


        <!--Grid row-->
        <div class="row wow fadeIn mt-3">
            {% for item in object_list%}
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center">
                    <img draggable="false" style="height:300px; width:auto;object-fit: cover"
                        src="{{item.image1.url }}"
                        class="card-img-top " alt="...">
                    <div class="card-body ">
                        <h5>{{item.name}}
                            {% if item.quantity == 0 %}
                            <span class="badge bg-danger mx-1">SOLD OUT</span>
                            {% endif %}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Price: Rs.{{item.price}}</h6>
                        <p class="card-text">Rs {{item.price}}</p>
                        <a href="{% url 'edit_product' id=item.id %}" class="btn btn-primary">Edit Product</a>
                        <br />

                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
        <!--Grid row-->

    </div>
</main>

{% endblock %}
